beautifulsoup4==4.8.2
bs4==0.0.1
certifi==2019.11.28
chardet==3.0.4
idna==2.9
requests==2.23.0
soupsieve==2.0
urllib3==1.25.8
Adafruit-Blinka==4.1.0
adafruit-circuitpython-74hc595==1.0.4
adafruit-circuitpython-busdevice==4.2.1
adafruit-circuitpython-charlcd==3.2.2
adafruit-circuitpython-mcp230xx==2.2.3
Adafruit-PlatformDetect==2.4.0
Adafruit-PureIO==1.0.4
beautifulsoup4==4.8.2
bs4==0.0.1
certifi==2019.11.28
chardet==3.0.4
idna==2.9
pyftdi==0.44.2
pyserial==3.4
pyusb==1.0.2
requests==2.23.0
soupsieve==2.0
sysv-ipc==1.0.1
urllib3==1.25.8
Adafruit-Blinka==4.1.0
adafruit-circuitpython-74hc595==1.0.4
adafruit-circuitpython-busdevice==4.2.1
adafruit-circuitpython-charlcd==3.2.2
adafruit-circuitpython-mcp230xx==2.2.3
Adafruit-PlatformDetect==2.4.0
Adafruit-PureIO==1.0.4
beautifulsoup4==4.8.2
bs4==0.0.1
certifi==2019.11.28
chardet==3.0.4
idna==2.9
pyftdi==0.44.2
pyserial==3.4
pyusb==1.0.2
requests==2.23.0
soupsieve==2.0
sysv-ipc==1.0.1
urllib3==1.25.8
